<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERRO</title>
    <link rel="stylesheet" href="/css/fases.css">
    <link rel="shortcut icon" href="icon.png">
    <style> 
        h1, h2, h4, a{
            color: white;   
        }
        .bg{
            width: 100vw;
            height: 100vh;
            background-image: url('olho.gif');
        }
    </style>
</head>
<body class="flex justify">
    <div class="filter justify">
        <div class="container align justify column">
            <% if(error_skip == true) { %>
                <h1>Atenção!</h1>
                <h2>Não tente pular as fases. Faça tudo do começo.</h2>
                <h4>Estamos de olho...</h4>
            <%}else{%>  
                <div class="bg">
                </div>
            <%}%>
        </div>
    </div>
</body>
</html>
