<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fase 3</title>
    <link rel="stylesheet" href="/css/fase.css">
    <link rel="shortcut icon" href="icon.png">
</head>
<body class="flex justify">
    <form action="/fase?id=webdesign" method="POST" class="align column">
        <h1>web design</h1>
        <h2>esse site tá bonito?</h2>
        <input type="text" name="answ" id="answ" class="text_inputs" autocomplete="off" required placeholder="Resposta">
        <button class="btn align justify">Ir para a próxima fase</button>
        <h4>Dica: “às vezes devemos olhar as CoiSaS por um outro lado” - ch4pl1n, 10/07</h4>
    </form>
</body>
</html>
