<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fase 6</title>
    <link rel="stylesheet" href="/css/fases.css">
    <link rel="shortcut icon" href="icon.png">
    <style>
        body{
            background-image: url('bg.png');
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
            background-position-x: -10000px;
        }
    </style>
</head>
<body class="flex justify">
    <img src="qr-code.jpeg" title="scan-me (or not?)">
</body>
</html>
