<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruções</title>
    <link rel="stylesheet" href="/css/fases.css">
    <link rel="shortcut icon" href="icon.png">
</head>
<body class="flex justify">
    <div class="container align column">
        <h1>Instruções</h1>
        <h2>Como passar de fase?</h2>
        <h3>Ao achar a resposta dos desafios, insira a resposta no campo "resposta". Não use caracteres especiais, acentos e espaço.</h3>
        <a href="/fase?id=chave" class="btn align justify" style="margin-top: 10%;">Continuar</a>
        <h4>Fase 0</h4>
    </div>
</body>
</html>
